---
layout: page
title: About
permalink: /about/
---

<div class="archive">
  <!-- <div class="timeline" id="timeline">
    {% assign posts_by_year = site.posts | group_by_exp:"post", "post.date |
    date: '%Y' " %} {% for group in posts_by_year %}
    <div class="archive-title">
      <h4 class="archive-year">{{ group.name }}</h4>
    </div>

    <ul>
      {% for post in group.items %}
      <li>
        <div style="width: 60px; float: left">
          {{ post.date | date: "%b %-d" }}
        </div>
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div> -->
  <h3>Contact</h3>
  ...

  <h3>Work Experience</h3>
  {% for career in site.data.index.careers %}

  <h5>{{ career.job }}</h5>
  <div>{{ career.name }}</div>
  <div>{{ career.date }}</div>
  <br>
  {% endfor %}

  <h3>Education</h3>
  {% for edu in site.data.index.education %}

  <h5>{{ edu.grade }} {{ edu.major }}</h5>
  <div>{{ edu.name }}</div>
  <div>{{ edu.date }}</div>
  <br>
  {% endfor %}

</div>
